 body{
    background-color: beige;
 }
 
 [argen="a"]{
            color: red;
            margin-bottom: 10px;
            width: 200px;
        }

 [joma="m"]{
    color: blue;
    text-shadow: 0 0 15px red;
 }       
 [tema="t"]{
    color: green;
 }
 input{
    border: 2px solid red;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;

 }
 button{
    height: 30px;
    width: 50px;
    font-size: 20px;
    color: red;
 }
